* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  width: 1400px;
  margin: 0 auto;
  color: #333;

  .form {
    width: 20%;
    margin: 3rem auto;

    input {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
      font-size: 1rem;
      padding: 0.3rem;
      border-radius: 5px;
      border: 1px solid rgb(202, 198, 198);
    }

    button {
      display: block;
      outline: none;
      margin: 2rem auto 0;
      padding: 0.2rem 1.5rem;
      font-size: 1rem;
      text-transform: capitalize;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .DisplayCard {
    display: flex;
    flex-wrap: wrap;
    margin: 7rem 0 5rem;
    justify-content: center;

    .SingleCard {
      width: 300px;
      margin: 0 1rem 2rem;
      padding: 0.5rem;
      text-transform: capitalize;
      font-size: 1.1rem;
      border-radius: 5px;
      box-shadow: 0px 0px 20px -5px rgba(125, 125, 125, 1);

      &:last-child {
        margin-right: 0;
      }

      p {
        margin: 0 0 0.4rem;
        font-weight: bold;
        span {
          display: inline-block;
          margin-left: 0.5rem;
          font-weight: normal;
        }
      }

      button {
        display: block;
        outline: none;
        margin: 2rem auto 0;
        padding: 0.2rem 1.5rem;
        font-size: 1rem;
        text-transform: capitalize;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
